﻿@using PirateIslandSrv
@*@Model PirateIslandSrv.PirateIslandGame*@
@{
    ViewData["Title"] = "Prate Iseland";
}

<!DOCTYPE html>

<html>
<body>
@{ int iselandHeight = Model.IselandRadius * 2 + 1; }
<div style="transform: rotate(-90deg); position: relative; height: @(iselandHeight * 100)px">

    @{
        float minx = float.MaxValue;
        float miny = float.MaxValue;
        foreach (var tile in Model.Tiles.Values)
        {
            if (minx > tile.VC.x)
            {
                minx = tile.VC.x;
            }
            if (miny > tile.VC.y)
            {
                miny = tile.VC.y;
            }
        }

        foreach (var tile in Model.Tiles)
        {
            <img STYLE="position: absolute; TOP: @((int) (tile.Value.VC.y - miny))px; LEFT: @((int) (tile.Value.VC.x - minx))px; transform: rotate(90deg)"
                 shape="poly" 
                 src="images/tile-unknown.png" id="@(tile.Key.x + "," + tile.Key.y + ", "+ tile.Key.z)"
                 onclick="clickontile(@tile.Key.x, @tile.Key.y, @tile.Key.z)" />
        }
    }

    <script src="js/signalr-client-1.0.0-alpha2-final.min.js"></script>
    <script type="text/javascript">

        var connection = new signalR.HubConnection('/PirateIsland');
        connection.start();

        connection.on('Show', (c,type) => {
            var alttxt = c.x + "," + c.y + ", " + c.z;
            var img = document.getElementById(alttxt);
            img.src = "images/" + type + ".png";
        });

        // connection.hub.disconnected(function() {
        //     connection.start();
        // });

        function clickontile(x, y, z) {
            connection.invoke('OnClick', {x:x, y:y, z:z});
        };

    </script>
</div>
</body>
</html>