﻿@*@Model IEnumerable<PirateIslandGame>*@
@{
    ViewData["Title"] = "Game Page";
}

<!DOCTYPE html>

<html>
<body>
    <div>
        <!-- LOGIN or LOGIN INFO -->
        <!-- START NEW if logon -->
        <!-- LIST OF GAMES -->
        GAMEGAMEGAME
    </div>
</body>
</html>