﻿@*@Model IEnumerable<PirateIslandGame>*@
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>

<html>
<div>
    <!-- LOGIN or LOGIN INFO -->
    <!-- START NEW if logon -->
    <!-- LIST OF GAMES -->

    <table>
        <tr>
            <td>Автор</td>
            <td>Дата стара</td>
            <td>Статус</td>
            <td></td>
        </tr>
        @foreach (var game in Model) {
            <tr>
                <td>@game.Author</td>
                <td>@game.CreateTime</td>
                <td>@game.CurrentStage</td>
                <td><a href="~/Game?game=@game.Id">Смотреть</a></td>
            </tr>
        }
    </table>
</div>
</html>